rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Полностью открытые правила для отладки - ВРЕМЕННО!
    match /{document=**} {
      allow read, write;
    }
  }
}